* {
  padding: 0;
  margin: 0;
  border: 0;
  transition: 250ms ease;
  box-sizing: border-box;
  font-family: "Proxima Nova", -apple-system, "Helvetica Neue", Helvetica,
    Roboto, Arial, sans-serif, sans-serif;
}

html {
  min-width: 768px;
  background: #eeeeee;
}

*:focus {
  outline: 0;
}
