.header {
  background-color: #fff159;
  padding: 20px;
}

.container {
  width: 95%;
  max-width: 1024px;
  margin: 0 auto;
}

.logo {
  width: 50px;
  flex: 0;
  margin-right: 20px;
}

.SearchBox {
  background-color: white;
  display: flex;
  flex: 1;
  align-items: center;
}

.SearchBox--input {
  border: 0;
  flex: 1;
  font-size: 20px;
}

.SearchBox--button {
  width: 50px;
  height: 50px;
  border: 0;
  background-color: #eeeeee;
  color: black;
}

.SearchBox--container {
  display: flex;
  align-items: center;
}
